##############################################################################
# .gitignore
##############################################################################

bin/
gen/

bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp

**/eng/**/*.bck
**/eng/**/*-cache.lib